* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
    letter-spacing: 0.2rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
.heading {
    color: #474647;
    font-size: 2rem;
    text-transform: uppercase;
}
.heading-underline {
    width: 3.5rem;
    height: .3rem;
    background-color: #1ebba3;
    margin-top: 1.2rem;
}

/*==================== TOP BAR HEADER =================*/
.top-bar {
    background: #0a7fc3 ;
    height: 1.8rem;
    padding: .5rem 0;
    display: flex;
    align-items: center;
}
.top-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    padding-right: 1rem;
}
.top-bar a:hover {
    text-decoration: underline;
}
.top-bar a:last-child, .top-bar a:nth-child(2) {
    border-left: solid 0.1rem #444;
    padding-left: 1rem;
}

/*==================== NAVBAR HEADER =================*/

.navbar {
    position: unset !important;
    background: #fff !important;
    font-size: 1.15rem;
    font-weight: 600;
    box-shadow: 0.1rem 0rem 0.1rem #175c23;
}
.navbar-brand .logo {
    width: 7rem;
    height: 7rem;
}
.nav-item {
    padding-right: 0.75rem;
}
.nav-link {
    color: #00acee !important;
    font-size: 0.9375rem;
}
.nav-link:hover, .nav-link.active {
    color:  #fe346e!important;
}
.navbar-toggler-icon {
    color: #111;
    outline: none!important;
    font-size: 2rem;
    border: solid 0.2rem #111;
}
.dropdown-menu {
    transform: translateY(15%);
    text-transform: uppercase;
    padding: 1rem;
}
.dropdown-item {
    color: #333;
    background-color: none !important;
    padding: 0.5rem;
}
.dropdown-item:hover {
    color:  #fe346e!important;
}
.btn {
    padding: 0.1rem 1.5rem;
    background: #0a7fc3;
    border: none;
    outline: none;
    z-index: 1;
    position: relative;
}
.navbar .btn a {
    color: #fff;
    text-decoration: none;
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: none;
    outline: none;
    background: #fe346e;
    transition: all 0.3s linear;
    z-index: -1;
}
.btn:hover::after {
    width: 100%;
}

/*==================== HERO =================*/
.carousel-inner .carousel-item {
    height: 100vh; 
    color: #222;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
}
.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    animation: zoom 40s linear 10ms infinite;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}
.carousel-caption h4 {
    width: 75%;
    color: #fff;
    text-align: left;
}
.carousel-caption h3 {
    width: 75%;
    color: #fff;
    text-align: left;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}
.carousel-caption h3 span {
    color: #fe346e;
} 
.carousel-caption h6 {
    font-size: 1.5rem;
    text-align: left;
}
.carousel-control-prev {background-image: none;}
.carousel-control-next {background-image: none;}
.carousel-indicators .active {background-color: #fe346e;} 

@keyframes zoom {
    0% {transform: scale(1);}
    100% {transform: scale(1.9);}
}

/*==================== ABOUT SECTION =====================*/
.about {
    background: rgb(1, 29, 71);
}
.heading-1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ccc;
}
.heading-2 {
    color: #121212;
    color: #fff;
    font-weight: 700;
}
.about-text p {
    font-size: 1.2rem; 
    color: #ccc;   
}
.about .btn {
    background-color:  #fe346e;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.about .btn a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
.about .btn::after {
    background-color: #0a7fc3;
}

/*==================== STATS SECTION =====================*/

.stats {
    background: #0a7fc3;
    color:#111;
    background-attachment: fixed;
}
.stats h2 {
    color: #111;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 1rem;
}
.stats i {
    font-size: 2.2rem;
}
.stats p {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


/*==================== SERVICES SECTION =====================*/
.services {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #eee;
}
.services i {
    padding: 1rem;
    /* border: 0.1rem solid #fe346e; */
    align-self: top;
    height: 25%;
    border-radius: 50%;
    background-color: #ddd;
    color: #fe346e;
    color: #0066bf;
    font-size: 2rem;
    transition: 0.5s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}
.services i:hover {
    background-color: #fff;
    color: #fe346e;
    transform: translateY(-10%);
}
.services .row h4 {
    font-size: 1.1875rem;
    font-weight: 600;
    margin-top: 0;
    line-height: 1.4;
    color: #0066bf;
    transition: 0.3s ease;
}
.services .row h4:hover {
    color: #fe346e;
}
.services .row .text p {
    color: #777;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 0px;
}
.services .btn {
    color: #fff !important;
}


/*==================== CALL TO ACTION SECTION =====================*/
.action {
    background: #0a7fc3;
    color: #fff;
}

.action .row .d-flex .btn {
    margin-left: 2rem;
    background-color: #fc634a;
    color: #fff !important;
}


/*==================== NEWS SECTION =====================*/
.news {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.news .image {
    position: relative;
    overflow: hidden;
}
.news .image .date {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff8c00;
    padding: 0.7rem 0.2rem;
    color: #121212;
    font-weight: 500;
}
.news .image img {
    transition: ease-in 1s;
}
.news .col-md-4:hover .image img {
    transform: scale(1.5);    
}


/*==================== ABOUT PAGE =====================*/
.hero-small {
    background: #0066bf;
    height: 20vh;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}
.hero-small .container .text-center {
    margin-top: 2rem;
}
.hero-small .container .text-center h2 {
    font-size: 3rem;
}

.about-page .about-text p {
    color: #979595;
}
.about-page .col-md-6 h2 {
    font-size: 1.25rem;
    color: #007fc6;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: none;
}

/*==================== BOARD SECTION =====================*/
.directors {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.directors .container-fluid {
    padding: 0;
    padding-bottom: 1.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: linear 0.3s;
}
.directors .container-fluid:hover {
    transform: translateY(-1%);
}
.directors .image {
    position: relative;
    overflow: hidden;
    max-height: 16rem;
}
.directors .image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    transition: linear 0.3s;
}
.directors .container-fluid:hover .image::after {
    background: rgba(0, 0, 0, 0.1);
}
.directors h6 {
    font-size: 1rem;
    color: #333333;
    text-transform: uppercase;
}
.directors p {
    font-size: 0.875rem;
}
.directors i {
    color: #ac9468;
    border-radius: 50%;
    border: 0.16rem solid #ac9468;
    padding: 0.4rem;
    transition: linear 0.3s;
}
.directors i:hover {
    background: #ac9468;
    color: #fff;
}

/*==================== FOOTER SECTION =====================*/
.footer ul {
    list-style-type: none;
}
.footer {
    background: #121212;
    background-color: #15305b;
    font-size: 0.75rem;
}
.footer .about-f {
    font-size: 0.75rem;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
}
.footer .list li {
    padding-bottom: 0.5rem;
}
.footer .list li a {
    color: #eee;
}
.footer .contact-f li {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.2rem;
}
.footer .contact-f i {
    border: 0.2rem solid #ff0000;
    padding: 0.5rem;
    background: #ff0000;
    width: 25%;
    margin-right: 0.5rem;
}
.footer .contact-f a {
    align-self: center;
}
.footer .social-f .list {
    display: flex;
    justify-content: center;
}
.footer .social-f .list li {
    padding: 0.75rem;
}
.footer .social-f i {
    font-size: 1.7rem;
    border: 0.2rem solid #faf3f3;
    padding: 0.5rem;
}
.footer .social-f i:hover {
    background: #ff8c00;
    cursor: pointer;
}
.fa-twitter{
    color: #00acee;
}
.fa-facebook {
    color: #3b5998;
}
.fa-youtube {
    color: #c4302b;
}


/*==================== MEDIA QUERY =================*/

/* Medium (md) devices (tablets, 768px and up) */
@media (max-width: 768px) {
    /* top bar */
    .top-bar {
        height: auto;
    }
    .top-bar .text-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-bar .text-right a {
        font-size: 0.5rem;
    }

    /* navigation */
    .navbar-nav {
        padding: 0.12rem 1.2rem;
    }
    .navbar-toggler-icon {
        height: 2rem;
        width: 2rem;
    }
    .navbar .btn {
        margin-left: 1.2rem;
    }
    .nav-item .nav-link {
        font-size: 0.9rem;
    }

    /* hero */
    .carousel-caption {top: 34%;}
    .carousel-caption h3 {
        width: 100%;
        font-size: 2.3rem;
    }
    .carousel-caption h6 {        
        font-size: 1rem;
    }

    /* call to action */
    .action .row .d-flex {
        flex-flow: column;
        text-align: center;
    }
    .action .row .d-flex h3 {
        font-size: 2.1rem;
    }

    /* news */
    .news .container .row .col-md-4 {
        margin-top: 4rem;
    }
    
    /* about page */
    .about-text.w-50 {
        width: 100% !important;
    }
    .hero-small .container .text-center h2 {
        font-size: 2rem;
    }

    /* membership */
    .about-page .cont .p-4 {
        padding: 0.425rem !important;
    }

    /* directors */
    .directors .image {
        max-height: 20rem;
    }
}
